{{ define "main" }}
<html data-theme="dracula">
    <section>
        <div class="hero min-h-screen" style="background-image: url(/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
            <div class="hero-overlay bg-opacity-60"></div>
            <div class="hero-content text-center text-neutral-content">
            <div class="max-w-lg">
                <h1 class="mb-5 text-5xl font-bold text-accent">Ross Technology Solutions</h1>
                <p class="mb-5 text-2xl">Making the Cloud Easy</p>
            </div>
            </div>
        </div>
    </section>

    <section>
        <div class="h-48 w-fit bg-blue-500">

        </div>
    </section>
</html>
{{ end }}