{{ define "main" }}
<html data-theme="dracula">

    <!-- HOME SECTION -->
    <section id="home">
        <!-- link to image source - https://pixabay.com/illustrations/network-cloud-computing-data-4851119/ -->
        <div class="hero min-h-screen" style="background-image: url(hero-network.webp);">
            <div class="hero-overlay bg-opacity-60"></div>
            <div class="hero-content text-center text-neutral-content">
            <div class="max-w-lg">
                <h1 class="mb-5 text-5xl font-bold text-accent">Ross Technology Solutions</h1>
                <p class="mb-5 text-2xl">Make Cloud Adoption Easy</p>
                <a href="mailto:ryan@rosstechnologysolutions.com"><button class="btn btn-primary">Email</button></a>
            </div>
            </div>
        </div>
    </section>

    <!-- SERVICES SECTION -->
    <section>
        <div id="services">
            <h1 class="text-center text-3xl font-bold text-accent py-4">Services</h1>
            <div class="flex flex-row flex-wrap justify-center p-4">
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">Migrate to the Cloud</h2>
                      <p>Lift and shift never worked for migrating on-premises workloads to the Cloud. Expert help is here to level up your cloud migration that will save costs, while increasing performance and release velocity.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">DevOps Consulting</h2>
                      <p>Adopting DevOps best pratices has become an industry standard, but also a buzzword. Learn to establish practical tools and processes to be a high performing engineering organization without all of the hype.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">Custom API Development</h2>
                      <p>Off the shelf solutions and cloud services are great, but sometimes a personal touch is needed for a specific use case. Get a custom web API that exactly meets your business needs, is written following the latest in technology and web standards, and is blazingly fast.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">Custom Mobile Development</h2>
                      <p>Mobile devices are in the hands of your customers. Reach them by providing a custom experience with iOS and Android applications.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABOUT SECTION -->
    <section id="about">
        <div class="bg-neutral w-screen">
            <div class="container mx-auto">
                <h1 class="text-center text-3xl font-bold text-accent py-4">About</h1>
                <div class="flex flex-col sm:flex-row items-center">
                    <div class="avatar p-4">
                        <div class="w-24 rounded-full ring ring-info ring-offset-base-100 ring-offset-2">
                          <img alt="picture of ryan ross" src="ryanross.webp" />
                        </div>
                    </div>
                    <div>
                        <p class="text-center text-info text-xl sm:text-left p-4">Hey there. I'm Ryan.</p>
                        <p class="text-center sm:text-left p-4">I work by day as a Senior Site Reliability Engineer for a software as a service company. I focus on observability and reliability of distributed systems built on Kubernetes. I work with: Kubernetes, Terraform, Helm, ArgoCD, Datadog, PagerDuty, Istio, and Calico, to name a few. </p>
                        <p class="text-center sm:text-left p-4">By night and off hours I work as an IT consultant. I have been working with technology for almost a decade. From stacking servers in a datacenter for a supercomputer to building, automating, and running applications at massive scale in the public clouds with Kubernetes, I've seen a lot. I can draw on my diverse experience from hardware to software to help your business <span class="text-accent">make cloud adoption easy</span>.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section>
        <div id="contact" class="bg-neutral-focus flex flex-row flex-wrap items-center justify-center">
            <div class="flex flex-col md:flex-row items-center">
                <h1 class="text-center text-3xl font-bold text-accent m-4">Ready to Make Cloud Adoption Easy?</h1>
                <a href="mailto:ryan@rosstechnologysolutions.com"><button class="btn btn-primary m-4 justify-center">Email</button></a>
            </div>
    </section>
</html>
{{ end }}