{{ define "main" }}
<html data-theme="dracula">
    <section>
        <div class="hero min-h-screen" style="background-image: url(/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
            <div class="hero-overlay bg-opacity-60"></div>
            <div class="hero-content text-center text-neutral-content">
            <div class="max-w-lg">
                <h1 class="mb-5 text-5xl font-bold text-accent">Ross Technology Solutions</h1>
                <p class="mb-5 text-2xl">Make Cloud Adoption Easy</p>
                <a href="mailto:ryan@rosstechnologysolutions.com"><button class="btn btn-primary">Email</button></a>
            </div>
            </div>
        </div>
    </section>

    <section>
        <div id="services">
            <h1 class="text-center text-3xl font-bold text-accent py-4">Services</h1>
            <div class="flex flex-row flex-wrap justify-center p-4">
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">Migrate to the Cloud</h2>
                      <p>Lift and shift never worked for migrating on-premises workloads to the Cloud. Expert help is here to level up your cloud migration that will save costs, while increasing performance and release velocity.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">DevOps Consulting</h2>
                      <p>Adopting DevOps best pratices has become an industry standard, but also a buzzword. Learn to establish practical tools and processes to be a high performing engineering organization without all of the hype.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">Custom API Development</h2>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit dolor culpa esse, harum quidem a nam, praesentium aliquam cupiditate sequi unde at voluptatibus laudantium incidunt, tenetur exercitationem atque nostrum veniam.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
                <div class="card w-96 bg-neutral-focus m-4">
                    <!-- <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure> -->
                    <div class="card-body">
                      <h2 class="card-title text-info">Custom iOS Development</h2>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit dolor culpa esse, harum quidem a nam, praesentium aliquam cupiditate sequi unde at voluptatibus laudantium incidunt, tenetur exercitationem atque nostrum veniam.</p>
                      <div class="card-actions justify-end">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div id="contact" class="bg-neutral-focus flex flex-row flex-wrap">
            <div class="flex flex-row flex-wrap justify-items-center">
                <h1 class="text-center text-3xl font-bold text-accent m-4">Ready to Make Cloud Adoption Easy?</h1>
                <a href="mailto:ryan@rosstechnologysolutions.com"><button class="btn btn-primary m-4">Email</button></a>
            </div>
    </section>
</html>
{{ end }}