<div class="navbar bg-base-100">
    <div class="flex-1">
      <svg width="50" height="50" fill="none" viewBox="0 0 219 219"><circle cx="110" cy="110" r="21" fill="#FA623D"></circle><circle cx="109.5" cy="109.5" r="76" stroke="#FA623D" stroke-width="3"></circle><circle cx="109.5" cy="109.5" r="108" stroke="#FA623D" stroke-width="3"></circle><circle cx="174.5" cy="70.5" r="8.5" fill="#FA623D"></circle><circle cx="80.5" cy="181.5" r="8.5" fill="#FA623D"></circle><circle cx="198.5" cy="172.5" r="8.5" fill="#FA623D"></circle><circle cx="60.5" cy="13.5" r="8.5" fill="#FA623D"></circle><circle cx="12.5" cy="61.5" r="8.5" fill="#FA623D"></circle><circle cx="192.5" cy="39.5" r="8.5" fill="#FA623D"></circle></svg>
      <a class="btn btn-ghost normal-case text-xl text-accent">{{ .Site.Title}}</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 text-accent">
        <li><a href="#services">Services</a></li>
        <!-- <li><a>About</a></li> -->
        <li><a href="mailto:ryan@rosstechnologysolutions.com">Contact</a></li>
      </ul>
    </div>
  </div>