<div class="navbar bg-base-100 sticky top-0 z-30">
  <div class="flex-1">
    <div class="h-10 w-10 relative">
      <img class="absolute invisible sm:visible h-full w-full" src="/logo.svg" alt="ross technology solutions logo"/>
    </div>
    <a class="btn btn-ghost invisible sm:visible normal-case text-xs md:text-xl text-accent" href="/#home">{{ .Site.Title}}</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1 text-accent">
      <li><a href="/#services">Services</a></li>
      <li><a href="/#about">About</a></li>
      <li><a href="mailto:ryan@rosstechnologysolutions.com">Contact</a></li>
    </ul>
  </div>
</div>